body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-gap: 1px;
}

.pixel {
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
}
